body {
    font-family: sans-serif;
    text-align: center;
}

.alert {
    font-size: 20px;
    font-weight: 500;
}

.success {
    color: green;
}

.warning {
    color: orange;
}

.error {
    color: red;
}

/* AVTOCHEK */



.btn {
    border: none;
    padding: 0.25rem 1.25rem;
}

.link {
    text-decoration: none;
    color: navy;
}

/* Напиши свій код під цим рядком */
.btn:active {
    color: red;
}

a:link,
a:active {
    font-weight: 700;
}



.btn:active {
    color: red;
}

a:link,
a:active {
    font-weight: 700;
}

